.App {
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.title {
  color: white;
  text-align: center;
}

.container {
  flex: 1;
}
